.cw__delivery_address {
  max-width: 600px;
  margin: 0.5rem auto 1rem;
  text-align: center;
}

.cw__delivery_outside_of_range {
  max-width: 600px;
  margin: auto;
}

.cw__delivery_address form .cw__form_field {

  input,
  label {
    float: left;
    text-align: left;
    width: 100%;
  }

  label {
    padding: 1rem 0.5rem 0.25rem;
  }

  .cw__field_error {
    float: left;
    margin-bottom: 1rem;
    width:100%;
  }
}

.cw__form_field.cw__delivery_address_address_line_two {
  margin-top: 1rem;
}

.cw__delivery_address form .cw__form_button {
  margin-top: 2rem;
}

.cw__order_details .cw__delivery_address {
  text-align: left;

  span {
    display: inline-block;
    padding-right: 0.5rem;
  }

  span.cw__delivery_within_range {
    display: none;
  }

  span.cw__delivery_address_line_one,
  span.cw__delivery_address_line_two {
    display: block;
  }
}