.cw__cart_subtotal,
.cw__cart_tax,
.cw__cart_total,
.cw__menu_item_line {
  display: flex;

  span {
    display: block;
    min-width: 100px;
  }

  span:first-child {
    font-weight: bold;
    padding-right: 1rem;
    text-align: right;
  }

  span.html--set span {
    display: inline;
    min-width: 0;
    padding-right: 0;
  }
}