#cater_waiter__react_base .cw__order_details {

  button.cw__help_info_trigger {
    float: right;
    height: 30px;
    margin: 0;
    max-width: 30px;
  }
}

#cater_waiter__react_base .cw__menu_item button.btn,
#cater_waiter__react_base .cw__order_details section button {
  background: #dbd8d8;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  display: block;
  font-size: 1.5rem;
  margin-top: 2rem;
  max-width: 100%;
  padding: 0.75rem;
  text-transform: uppercase;
  width: 100%;
}

.cw__order_details_mobile {
  color: white;
  visibility: hidden;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: background 300ms ease;
  width: 100%;
  z-index: 10000;
}

.cw__cart {
  .sticky {
    z-index:10000;

    .cw__order_details_mobile {
      background: white;
      transition: background 300ms ease;

      @include respondto(sm, xs) {
        visibility: visible;
      }
    }
  }
}

.cw__back_button_top {
  margin-bottom: 2rem;
}