#cater_waiter__react_base .cw__order_details {

  button.cw__help_info_trigger {
    float: right;
    height: 30px;
    margin: 0;
    max-width: 30px;
  }

  section button {
    background: #e9e6e6;
    border-radius: 0;
    color: gray;
    display: block;
    font-size: 1rem;
    margin-top: 2rem;
    max-width: 100%;
    padding: 0.75rem;
    width: 100%;
  }
}