.cw__field_error {
  background: rgba(255, 0, 0, 0.1);
  color: #6f0e12;
  display: block;
  font-weight: bold;
  margin: 0.5rem 0 1rem;
  padding: 1rem;
  text-align: left;
}

.cw__input_quantity {
  input {
    max-width: 100%;
    min-width: 100%;
  }
}

.cw__input_quantity,
.cw__input_dropdown {
  margin-bottom: 2rem;
}

.cw__form_field {

  label {
    display: block;
  }

  input,
  .Select-control {
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
    color: #43454b;
    font-weight: 400;
    font-size: 1.8rem;
    outline: 0;
    padding: .6em;
    -webkit-appearance: none;
  }
}

//common back button
.cw__back_buttons_top,
.cw__back_buttons {
  .cw__clear_data {
    background: black;
    font-size: 14px;
    padding: 10px 50px 10px 50px;
    margin-left: 1rem;

    @include respondto(sm,xs) {
      margin: 1rem 0;
      width: 100%;
    }
  }
}
.cw__back_buttons_top {
  margin-bottom: 2rem;
}

.cw__back_buttons {
  @include respondto(sm,xs) {
    margin-top: 0 !important;
    width: 100%;
  }
}

  //react-select styles
.cw__form_field {

  .Select-control {
    border-radius: 0;
    padding: 0.75rem 0;

    input {
      box-shadow: none;
      margin: 0;
    }
  }

  .Select-input {
    height: auto;

    input {
      padding: 0.25rem 0;
    }
  }

  .Select.is-focused>.Select-control {
    background-color: #f2f2f2;
  }

  .Select.has-value.Select--single>.Select-control .Select-value .Select-value-label,
  .Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    float: left;
    margin-top: 0.5rem;
  }

  .Select--single>.Select-control .Select-value, .Select-placeholder {
    top:0.5rem;
  }

  .Select-value-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.cw__datepicker {
  .react-datepicker {
    font-size: 1em;
  }
  .react-datepicker__header {
    padding-top: 0.8em;
  }
  .react-datepicker__month {
    margin: 0.4em 1em;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
  }
  .react-datepicker__current-month {
    font-size: 1em;
  }
  .react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
  }
  .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
  }
}