#cater_waiter__react_base .modal {
  background: rgba(0, 0, 0, 0.8);
  overflow: auto !important;

  .modal-dialog {
    margin-top: 10vh;
  }
}

.cw__modal.modal {
  background: rgba(0, 0, 0, 0.81);
  position: absolute;
}